.tab-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .tab-buttons button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #f0f0f0;
    outline: none;
  }
  
  .tab-buttons button:hover {
    background-color: #ddd;
  }
  
  .tab-buttons button.active {
    background-color: #4caf50;
    color: white;
  }
  

  .tabContainer {
    display: flex;
  }
  
  .tabButton {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    background: none;
    color: #333; /* Default text color */
  }
  
  .tabButtonActive {
    border-bottom: 2px solid #007BFF; /* Blue underline for active tab */
    color: #007BFF; /* Blue text color for active tab */
  }
  
  .tabButtonInactive {
    color: #999; /* Gray text color for inactive tabs */
  }